.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-content: center;
  gap: 20px;
}
.form__title {
  font-size: 30px;
}

input {
  padding: 5px 10px;
}

.btn-orden {
  border: none;
  width: 150px;
  padding: 2px 5px;
  color: white;
  background-color: rgb(255, 77, 77);
  font-size: 20px;
  transition: 0.5s;
  cursor: pointer;
}
.btn-orden:hover {
  background-color: rgb(72, 255, 0);
}
